<h1>Import a new Roast Profile</h1>

<%= form_with scope: :profile, url: profiles_path, local: true do |form| %>
  <%= form.select :origin_id, options_from_collection_for_select(Origin.all, "id", "name") %>

  <p>
    <%= form.label :batch_number %><br>
    <%= form.text_field :batch_number %>
  </p>

  <p>
    <%= form.label :start_weight %><br>
    <%= form.text_field :start_weight %>
  </p>

  <p>
    <%= form.label :end_weight %><br>
    <%= form.text_field :end_weight %>
  </p>


  <p>
    <%= form.label :artisan_json %><br>
    <%= form.text_area :artisan_json %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
