<h3>Welcome to roasting notes.</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<p><%= link_to 'Create a new coffee', new_origin_path %></p>
<p><%= link_to 'Record a new tasting', new_tasting_path %></p>
<p><%= link_to 'Import a roast profile', new_profile_path %></p>
