<h2> <%= @batch.origin.name %> </h2>
<p>
  Batch: <%= @batch.batch_number %>,  <%= localize(@batch.roast_date, :format => :concise) %>
  <% if @batch.artisan_image_id? %>
    <a href="<%=attachment_url(@batch, :artisan_image) %>">
      View artisan chart
    </a>
   <% end %>
</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= number_to_percentage(@batch.dry_time_percentage * 100, precision: 0) %>" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-success" role="progressbar" style="width: <%= number_to_percentage(@batch.malliard_time_percentage * 100, precision: 0) %>" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-danger" role="progressbar" style="width: <%= number_to_percentage(@batch.development_time_percentage * 100, precision: 0) %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<p>
  <strong>Origin Country:</strong>
    <%= @batch.origin.country %>
</p>

<p>
  <strong>Roast length:</strong>
    <%= @batch.roast_length_pretty %>
</p>

<p>
  <strong>Dry time:</strong>
    <%= number_to_percentage(@batch.dry_time_percentage * 100, precision: 1) %>
</p>

<p>
  <strong>Malliard time:</strong>
    <%= number_to_percentage(@batch.malliard_time_percentage * 100, precision: 1) %>
</p>

<p>
  <strong>Development time:</strong>
    <%= number_to_percentage(@batch.development_time_percentage * 100, precision: 1)%>
</p>

<p>
  <strong>Charge temp:</strong>
    <%= @batch.charge_temp %>
</p>

<p>
  <strong>Drop temp:</strong>
    <%= @batch.drop_temp %>
</p>

<p>
  <strong>Start weight:</strong>
    <%= @batch.start_weight %> grams
</p>

<p>
  <strong>End weight:</strong>
  <%= @batch.end_weight %> grams
</p>

<h2>Tastings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Total score</th>
      <th>User</th>
      <th>View tasting</th>
    </tr>
  </thead>

  <tbody>
    <% @batch.tastings.each do |tasting| %>
      <tr>
        <td><%= tasting.total_score %></td>
        <td><%= tasting.user.name %></td>
        <td><%= link_to 'View', tasting_path(tasting) %></td>
      </tr>
    <% end %>

  </tbody>
</table>


<%= link_to 'See all batches', batches_path %>
